[Desktop Entry]
Encoding=KDE
Terminal=false
Categories=Qt;KDE;Rivendell;
Name=RDSelect
GenericName=Rivendell System Selector
Exec=rdselect
Icon=rivendell
Type=Application
Terminal=false
X-KDE-SubstituteUID=true
X-KDE-Username=root
