*~
moc_*.cpp
*.rlm
*.o
conf/rd-bin.conf
lib/librd_*.qm
rdhpi/rdhpi_*.qm
.pc/
config.log
config.status
libtool
make_slack
rdrepld-suse
rivendell
rivendell-suse
rivendell.spec
slack-desc
Makefile
.libs/
*.lo
*.la
*.qm
autom4te.cache/

# Binaries created by build
cae/caed
helpers/cwrap
helpers/jsmin
importers/panel_copy
importers/rdcatch_copy
importers/rivendell_filter
importers/sas_filter
importers/wings_filter
rdadmin/rdadmin
rdairplay/rdairplay
rdcastmanager/rdcastmanager
rdcatch/rdcatch
rdcatchd/rdcatchd
rdlibrary/rdlibrary
rdlogedit/rdlogedit
rdlogin/rdlogin
rdlogmanager/rdlogmanager
rdpanel/rdpanel
rdrepld/rdrepld
ripcd/ripcd
tests/audio_convert_test
tests/audio_export_test
tests/audio_import_test
tests/sas_switch_torture
tests/sas_torture
tests/test_pam
tests/upload_test
utils/rdalsaconfig/rdalsaconfig
utils/rdchunk/rdchunk
utils/rdcollect/rdcollect
utils/rddbcheck/rddbcheck
utils/rdgen/rdgen
utils/rdgpimon/rdgpimon
utils/rdhpiinfo/rdhpiinfo
utils/rdimport/rdimport
utils/rdmaint/rdmaint
utils/rdpopup/rdpopup
utils/rdpurgecasts/rdpurgecasts
utils/rdsoftkeys/rdsoftkeys
utils/rmlsend/rmlsend
utils/sas_shim/sas_shim
web/rdcastmanager/rdcastmanager.cgi
web/rdfeed/rdfeed.xml
web/rdxport/rdxport.cgi
