Source: rivendell
Section: sound
Priority: optional
Maintainer: Alban Peignier <alban@tryphon.eu>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, autoconf, automake1.9, libtool, libqt3-mt-dev, libsamplerate0-dev, libcdparanoia-dev, libsoundtouch-dev, libflac++-dev, libpam0g-dev, libasound2-dev, libjack-jackd2-dev | libjack-dev, libvorbis-dev, libsndfile1-dev, libid3-dev, libcurl4-openssl-dev, libhpi-dev, libmp3lame-dev, libmad0-dev, libtwolame-dev
Standards-Version: 3.9.2
Homepage: http://www.rivendellaudio.org
Vcs-Git: git://projects.tryphon.eu/rivendell2-debian
Vcs-Browser: http://projects.tryphon.org/rivendell2-debian/browser

Package: rivendell
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, librivendell (= ${binary:Version}), libqt3-mt-mysql
Recommends: jackd, logrotate, libmp3lame0, libtwolame0, libmad0
Suggests: libqt3-headers
Description: contains a set of functionality needed to operate a radio automation system
 It consisting of the following components:
 .
 RDAdmin: a comprehensive application for the administration and configuration
 of Rivendell.
 .
 RDLibrary: the production audio interface.
 .
 RDCatch: the automatic recorder interface.
 .
 RDLogin: a small utility for logging users into and out of the system.
 .
 RDLogEdit: a basic air log creation and editing tool.
 .
 RDLogManager: a utility for the automatic generation of logs, based on 
 templates. It also supports importation of schedule information from a wide
 variety of third-party traffic and music scheduling systems.
 .
 RDAirPlay: the on-air playout application.

Package: rivendell-server
Architecture: any
Depends: apache2 | httpd, ${shlibs:Depends}, ${misc:Depends}, libqt3-mt-mysql
Recommends: logrotate, libmp3lame0, libtwolame0, libmad0
Suggests: mysql-server
Description: Rivendell server part
 Contains components needed on Rivendell server : cgi

Package: librivendell
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Rivendell library - C++ runtime library
 Contains a full set of functionality needed to operate a radio
 automation system, consisting of the following components.

Package: rivendell-doc
Section: doc
Architecture: all
Description: Documentation for Rivendell
 Contains text documentation delivered with Rivendell sources
