[Desktop Entry]
Encoding=UTF-8
Name=RDAirPlay
Comment=Rivendell Airplay
Exec=rdairplay
Terminal=false
Type=Application
Icon=rdairplay
Categories=Application;AudioVideo;
