[Desktop Entry]
Encoding=UTF-8
Name=RDLogEdit
Comment=Rivendell Logedit
Exec=rdlogedit
Terminal=false
Type=Application
Icon=rdlogedit
Categories=Application;AudioVideo;
